.sub-content {
    background-color: #c3f3cd;
    border: 1px solid transparent;
    padding-bottom: 8px;

    .spacor {
        width: 100%;
        height: 2px;
        margin: 20px 0;
        background-color: #666;
    }
}
